<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>Convertible Collar Patterns (8 pieces fabric, 3 pieces fusible interfacing)</li>
<li>2-Piece Collar Patterns (6 pieces fabric, 2 pieces fusible interfacing)</li>
<li>Collar Back Bodice Pattern (2 pieces)</li>
</ul>
<li>Bring the following materials to class:</li>
<ul>
<li>Laptop, tablet or note-taking supplies</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<li>Large Flat Head Screwdriver</li>

<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Medium weight muslin</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Work on Collar samples for Sample Book Two</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Determine and aquire desired buttons for Convertible Collar Sample.</li>
<li>Complete Collar samples (2 total).</li>
</ul>