<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>Bound Buttonhole Left Garment Pattern (1 piece)</li>
<li>Bound Buttonhole Right Garment Pattern (1 piece)</li>
<li>Bound Buttonhole Left Facing Pattern (1 piece fabric, 1 piece interfacing)</li>
<li>Bound Buttonhole Right Facing Pattern (1 piece fabric, 1 piece interfacing)</li>
<li>Bound Buttonhole Pattern (2 pieces fabric, 2 pieces interfacing)</li>
<li>Bound Buttonhole Interfacing Pattern (2 pieces)</li>
</ul>
</ul>
	<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<li>Large Flat Head Screwdriver</li>

<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Buttons (1 inch diameter)</li>
<li>Medium weight muslin</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li class="task__list">Buttons and buttonholes.</li>
<li class="task__list">Students will draft their own machined buttonhole sample patterns.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul>
<li class="task__list">Complete the bound buttonhole and machined buttonhole samples and bring all samples to class meeting fifteen for review.</li>
</ul>