<p class="task__chapter">Due:</p>
<ul>
<li class="task__list" style="text-decoration-line: underline">Come to class with the completed Convertible Collar Garment.</li>
<li class="task__list" style="text-decoration-line: underline">Come to class with at least 3 yards of pattern paper to copy the knit shirt pattern.</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li class="task__list">3 yards of pattern paper to copy the knit shirt pattern</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li class="task__list">Convertible Collar Garment Critique</li>
<li class="task__list">Working with Knits</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul>
<li class="task__list" style="text-decoration-line: underline">Complete and submit Convertible Collar Garment Construction Assignment via <strong>Blackboard &gt; Submissions</strong> by EoD.</li>
</ul>