<p class="task__chapter">Soft Deadline:</p>
<ul>	
<li class="task__list">Convertible Collar Garment Construction 30% Check-in:</li>
<ul>
<li class="task__list" style="text-decoration-line: underline;">Come to class with garment shell assembled.</li>
</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<li>Large Flat Head Screwdriver</li>

<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Medium weight muslin</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li class="task__list">Installing the Convertible Collar Garment collar and facings</li>
<li class="task__list">Sewing the Convertible Collar Garment Facings</li>
<li class="task__list">Sewing the Convertible Collar Garment Collar</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul>
<li class="task__list">Complete garment sub-assemblies (shell, facing, and collar). </li>
<li class="task__list" style="text-decoration-line: underline">Bring all garment subassemblies to the following class meeting for review.</li>
</ul>