<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>Slash pocket patterns (4 pieces)</li>
<li>Inseam pocket patterns (4 pieces)</li>
<li>Patch pocket patterns (2 pieces)</li>
<li>Bound/welt pocket patterns (4 pieces fabric, 3 pieces fusible interfacing)</li>
</ul>
</ul>
	<ul>
<li>Bring the following materials to class:</li>
<ul>
<li>Laptop, tablet or note-taking supplies</li>
<li>Juki Industrial 1/16 Compensating Foot (optional)</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<li>Large Flat Head Screwdriver</li>

<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Medium weight muslin</li>
<li>Solid or printed cotton fabric</li>
<li>Weft Interfacing</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Work on pocket samples for Sample Book One.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete pocket samples (4 total)</li>
<li>Tally up how much time the Sample Book One sample ACTUALLY took to complete and fill the Sample Book One Timesheet with the actual total.</li>
<li style="text-decoration-line: underline">Bring all sewing samples and filled timesheet to our next class for feedback and review.</li>
</ul>