<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list" style="text-decoration-line: underline;">Complete the Pre-Quarter Assignment</li>

<li class="task__list">Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>Hand Sewing Practice Pattern (1 piece)</li>
</ul>	
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop, tablet or note-taking supplies</li>
<li>Hand Sewing Needles</li>
<li>All-purpose thread in a DARK color</li>
<li>Medium weight muslin</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Fabric Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Welcome to the Sewing Studio</li>
<li>Introduction to grainline, cross grain, bias, pattern pinning and cutting.</li>
<li>Hand Sewing stitches: running stitch (basting) and back stitches</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete Hand Sewing sample</li>
</ul>
