<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop, tablet or note-taking supplies</li>
<li>Skirt Fashion Fabric Subassemblies</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<li>Large Flat Head Screwdriver</li>

<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Buttons (1 inch diameter)</li>
<li>Medium weight muslin</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Skirt Sub assemblies</li>
<li>Skirt finishes</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete the final skirt and bring to our next class meeting.</li>
</ul>