<p class="task__chapter">Due:</p>
<ul class="task__list">
<li style="text-decoration: underline">Come to class with the completed Skirt.</li>
<li style="text-decoration: underline">Come prepared to showcase your work to your peers.</li>
<li style="text-decoration: underline">Come to class with at least 5 yards of pattern paper to copy the Fitted Shirt pattern.</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following materials to class:</li>
<ul>
<li>Laptop, tablet or note-taking supplies</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<li>Large Flat Head Screwdriver</li>

<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Buttons (1 inch diameter)</li>
<li>Medium weight muslin</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Skirt Construction Critique</li>
<li>Finalize fitted shirt patterns</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line: underline">Complete and submit Skirt Process Journal via <strong>Blackboard &gt; Submissions</strong> by EOD.</li>
	<li>Complete the Fitted Shirt cutting and preparation.</li>
</ul>