<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Three Button Mouse</li>
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>14+ inches of neckline ribbing</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li class="task__list" style="text-decoration-line: underline">Complete and submit Knit Shirt Construction by the end of class.</li>
<li class="task__list">Visualizing Garment Construction in CLO</li>
</ul>