<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
	<li>3/4 inch Seam Allowance Zipper Pattern (2 pieces)</li>
	<li>Waistband Left Side Pattern</li>
	<li>Waistband Right Side Pattern</li>
	</ul>
<li>Bring the following materials to class:</li>
<ul>
<li>Laptop, tablet or note-taking supplies</li>
<li>Juki Industrial Narrow/Split Hinge Foot</li>
<li>Juki Industrial Left Piping Foot</li>
<li>Juki Industrial Right Piping Foot</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<li>Large Flat Head Screwdriver</li>

<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Medium weight muslin</li>
<li>Polyester/nylon coil zipper (7-9 inches)</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>At least one matching pair of trouser hook and eye</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Work on Lapped Zipper sample for Sample Book Two</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete the Lapped Zipper sample</li>
</ul>