<p class="task__chapter">Due:</p>
<ul class="task__list">
<li style="text-decoration: underline">Come to class with the completed Unlined Jacket.</li>
<li style="text-decoration: underline">Come prepared to showcase your work to your peers.</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following materials to class:</li>
<ul>
<li>Laptop, tablet or note-taking supplies</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Unlined Jacket Critique</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line: underline">Complete and submit Unlined Jacket Process Journal via <strong>Blackboard &gt; Submissions</strong> by EoD.</li>
</ul>