<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>3-point dart pattern (1 piece assembled)</li>
<li>1/2 Inch Seam Allowance Zipper Pattern (4 pieces)</li>
<li>3/4 Inch Seam Allowance Zipper Pattern (2 pieces)</li>
<li>Additional Closures Pattern (2 pieces)</li>
</ul>
</ul>
	<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Juki Industrial Narrow/Split Hinge Foot</li>
<li>Juki Industrial Left Piping Foot</li>
<li>Juki Industrial Right Piping Foot</li>
<li>Juki Industrial Invisible Zipper Foot</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<li>Large Flat Head Screwdriver</li>

<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Medium weight muslin</li>
<li>Invisible zipper (7-9 inches)</li>
<li>2 Polyester/nylon coil zippers (7-9 inches)</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>At least one matching pair on sew-in Snaps (metal or nylon)</li>
<li>At least one matching pair of wire hook and eye</li>
<li>Matching pair of trouser hook and bar (optional)</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li class="task__list">Work on 3-point dart, zipper, and additional closure samples.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul>
<li class="task__list">Complete the following samples:</li>
<ul>
<li>3-point darts</li>
<li>Centered Zipper</li>
<li>Lapped Zipper</li>
<li>Invisible Zipper</li>
<li>Additional Closures</li>
</ul>
</ul>