<p class="task__chapter">Due:</p>
<ul>
<li class="task__list">Skirt Construction Check-in</li>
<li class="task__list">Bring the following to class for review:</li>
<ul>
<li class="task__list">Bring all skirt pieces cut, notched, and properly tailor tacked.</li>
<li class="task__list">Remember to follow all pattern cutting instructions (fashion fabric and interfacing must be cut).</li>
	</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<li>Large Flat Head Screwdriver</li>

<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Medium weight muslin</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li class="task__list">Skirt Sub assemblies</li>
<li class="task__list">Skirt finishes</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul>
<li class="task__list">Complete Skirt Construction</li>
<li class="task__list" style="text-decoration-line: underline">Bring final garment and prepare slide deck presentation for next class meeting.</li>
</ul>