<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>2-piece Collar Pattern (2 pieces fabric, 1 pair interfacing)</li>
<li>2-piece Collar Stand Pattern (2 pieces fabric, 1 pair interfacing)</li>
<li>Collar Back Bodice Pattern (2 pieces)</li>
<li>Placket Front Bodice Pattern (1 pair)</li>
<li>Convertible Top Collar Pattern (1 piece fabric, 1 piece interfacing)</li>
<li>Convertible Under Collar Pattern (1 pair fabric)</li>
<li>Collar Back Neck Facing Pattern (1 piece fabric, 1 piece interfacing)</li>
<li>Collar with Facing Front Bodice Pattern (1 pair fabric)</li>
<li>Collar Front Facing Pattern (2 pairs fabric, 2 pairs interfacing)</li>
</ul>
</ul>
	<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<li>Large Flat Head Screwdriver</li>

<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Buttons (1 inch diameter)</li>
<li>Medium weight muslin</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li class="task__list">Work on collar samples.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul>
<li class="task__list">Complete collar samples (2).</li>
</ul>