<p class="task__chapter">Due:</p>
<ul>
<li class="task__list" style="text-decoration: underline">Come to class with at least 3 yards of pattern paper to copy the skirt pattern.</li>
<li class="task__list">Sample Book Productivity</li>
<li class="task__list">Bring the following samples to class for review:</li>
<ul>
<li>Hand Sewing Sample</li>
<li>Machine Sewing Sample</li>
<li>Turned and Stitched Seam Finish</li>
<li>Flat felled Seam Finish</li>
<li>French seam Seam Finish</li>
<li>Bias-bound Seam Finish</li>
<li>Serged Seam finish</li>
<li>4-Cone Serged seam</li>
<li>Flat catchstitch Hem Finish</li>
<li>Blind catchstitch Hem Finish</li>
<li>Uneven slip stitch Hem Finish</li>
<li>Topstitch/Dungaree Hem Finish</li>
<li>3-point darts</li>
<li>Centered Zipper</li>
<li>Lapped Zipper</li>
<li>Invisible Zipper</li>
<li>Additional Closures</li>
<li>Slash pocket</li>
<li>Inseam pocket</li>
<li>Spade patch pocket</li>
<li>Bound/welt pocket</li>
</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
</ul>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Medium weight muslin</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li class="task__list">Complete altering the skirt pattern to include pockets and desired zipper closure.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul>
<li class="task__list">Complete custom skirt patterns.</li>
<li class="task__list">Cut all skirt pattern pieces from fashion fabric. All pieces must be properly notched and tailor tacked.</li>
<li class="task__list" style="text-decoration-line: underline">Bring all prepared skirt pieces to our next class meeting ready for assembly.</li>
</ul>