<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Half Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>Half Scale L-Square ruler (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Drafting the Kimono slopers</li>
<li>Drafting the mandarin collar.</li>
<li>Drafting the 2-piece collar.</li>
<li>Drafting the convertible collar.</li>
<li>Drafting the peter pan collar.</li>
<li>Analyzing a technical flat to create a garment draft</li>
<li><strong>Looks will be assigned for the Runway Recreation project.</strong></li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Practice drafting the Torso slopers, Raglan slopers, and collar slopers drafting samples.</li>
<li style="text-decoration-line:underline">Carefully draft, cut and sew the garment listed in the Sample Book One assignment brief in half scale (see brief in Blackboard for details).</li>
<li>Complete Front and Back Technical flats for the Runway Recreation.</li>
<li>Complete a list of necessary pattern pieces for the Runway Recreation.</li>
<li>Read pp.441-449, 145-148 <strong>(pp.517-525, 169-172)</strong> before Class Seven.</li>
</ul>