<p class="task__chapter">Due:</p>
<ul class="task__list">
<li style="text-decoration-line: underline">Full-scale slopers due via <strong>Blackboard &gt; Submissions</strong> by EoD.</li>
<li>Full scale slopers will be reviewed to ensure precision in drafting.</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Half Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Tuck darts, gathers, flare</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Upload Basic Five drafts via <strong>Blackboard &gt; Submissions</strong> by EoD.</li>
<li style="text-decoration-line:underline">Practice dart rotation, dart distribution, princes panels, and multiple dart transformation drafting samples.</li>
<li style="text-decoration-line:underline">Carefully draft, cut and sew the Multiple Dart Transformation bodice in half scale.</li>
<li>Begin work on the Modular Dress project.</li>
	<ul>
	<li>Choose one draft exercise or design illustration from pp.108-111, 113-120, 136-154 (hardcover textbook); <strong>pp.122-125, 127-134, 156-178 (softcover textbook).</strong></li> 
	<li>Modify your Full-Scale front and back bodices ONLY to suit your chosen draft/illustration.</li>
	<li>Transform your full-scale drafts in patterns by adding seam allowance (SA), hem allowance (HA), notches, tailor's tacks, and requested pattern notation.</li>
	<li>Carefully cut and sew your final bodice patterns in muslin or fashion fabric.</li>
	<li>See the Modular Dress assignment brief for details.</li>
	</ul>
<li>Read pp.348-351, 352, 385-388, 390-391 <strong>(pp.400-403, 404, 449-452, 454-455)</strong> before Class Five.</li>
<li>Watch the accompanying videos provided for Week Three in <strong>Blackboard &gt; Week Three.</strong></li>
</ul>