<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>Front Trouser Sample (2 pieces)</li>
<li>Back Trouser Sample (2 pieces)</li>
<li>Zipper Guard</li>
<li>Trouser Pocket Facing(2 pieces)</li>
<li>Trouser Pocket Bag(2 pieces)</li>
<li>Womenswear J-Fly Facing</li>
</ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Half Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>Half Scale L-Square ruler (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Pockets Review</li>
<li>Sewing the J-Fly sample</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Carefully cut and sew the sleeve placket sewing sample in full scale and bring it to our next class meeting.</li>
<li style="text-decoration-line:underline">Complete the trouser front, trouser back, and trouser waistband drafts in full scale and bring them to our next class meeting.</li>
<li style="text-decoration-line:underline">Carefully cut and sew the J-Fly sewing sample in full scale and bring it to our next class meeting.</li>
<li>Begin drafting Runway Recreation patterns in full scale (shirt and trousers).</li>
<li>Read pp.155-157, 276-277 <strong>(pp.179-181, 320-321)</strong> before Class Eleven.</li>
</ul>