<p class="task__chapter">Due:</p>
<ul>
<li class="task__list" style="text-decoration-line:underline">Pattern Drafting Test available on Blackboard must be completed by EoD.</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Full Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>24" hip curve ruler</li>
<li>14” x 24” Large L-Square ruler</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Pattern Drafting Review and Test</li>
<li>Contour Slopers</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Complete the Pattern Drafting Test available on <strong>Blackboard &gt; Submissions</strong> by EoD.</li>
<li>Complete work on the Modular Dress project.</li>
	<ul>
	<li>Choose one draft exercise or design illustration from pp.307-308, 310-316, 319, 323, 325, 329-331 (hardcover textbook); <strong>pp.355-356, 358-364, 367, 371, 373, 377-379 (softcover textbook). </strong></li> 
	<li>Modify your FULL-SCALE sleeve sloper to suit your chosen draft/illustration.</li>
	<li>Transform your full-scale drafts into patterns by adding seam allowance (SA), hem allowance (HA), notches, tailor's tacks, and requested pattern notation.</li>
	<li>Carefully cut and sew your final bodice patterns in muslin or fashion fabric.</li>
	<li>Attach your sleeves to the Bodice from Week Two.</li>
	<li>See the Modular Dress assignment brief for details.</li>
	</ul>
<li style="text-decoration-line:underline">Complete your Modular Dress construction and bring your final garment to our next class meeting.</li>
<li>Order final fabric for Runway Recreation Project</li>
</ul>