<p class="task__chapter">Due:</p>
<ul class="task__list">
<li style="text-decoration-line: underline">Come to class with the half-scale slopers cleanly cut, drilled, notched,and labeled.</li>
<li>Half-scale oaktag slopers will be reviewed to ensure precision in copying and cutting. </li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Half Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Rotating Darts (two methods)</li>
<li>Distributing Darts</li>
<li>Princess Panels</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete dart rotation, distribution and princess panel drafting samples in half scale.</li>
<li>Complete drafting full scale Size 8 Womenswear slopers on paper and photograph/scan them according to the B5 assignment brief.</li>
	<ul>
	<li>Ensure slopers are accurately drafted, trued, walked, and marked with necessary notation, notches and tailor's tacks.</li>
	</ul>
<li>Read pp.99-107, 133-135, 231-233, 239-240, 302-304, 317-318 <strong>(pp.113-121, 153-155, 275-277, 283-284, 350-352, 365-366)</strong> before Class Four.</li>
</ul>
