<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Printed Half Scale slopers</li>
<li>Mechanical pencils</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>14” x 24” large L-Square ruler</li>
<li>Fashion French curve/Armsyce ruler</li>
<li>Fashion Hip Curve ruler</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Continue Drafting the Basic Five Full Scale Slopers</li>
<ul>
<li>Bodice Front</li>
<li>Bodice Back</li>
<li>Skirt Front</li>
<li>Skirt Back</li>
<li>Sleeve</li>
</ul>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Transfer printed Size 8 Womenswear Half Scale slopers to oaktag paper in preparation for Class Three.</li>
<li>Continue drafting and truing full scale Size 8 Womenswear slopers.</li>
<li>Read pp.70, 71, 73-86, 90-96, 122-130, 129-130 <strong>(pp.80, 81,83-96, 100-106, 138-143)</strong> before Class Three.</li>
<li>Watch the accompanying videos provided for Week Two in <strong>Blackboard &gt; Week Two.</strong></li>
</ul>
