<p class="task__chapter">Due:</p>
<ul>
<li style="text-decoration: underline">Sample Book One. Bring the following samples to class for review:</li>
<ul>
<li>Printed copy of Sample Book One Checklist </li>
<li>Multiple Dart Transformation Patterns (3 pieces total)</li>
<li>Multiple Dart Transformation sewing sample</li>
<li>Raglan Princess Dress Patterns (6-10 pieces total)</li>
<li>Raglan Princess Dress sewing sample </li>
</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Half Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>Half Scale L-Square ruler (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Modifying the bodice into a shirt sloper</li>
<li>Casual shirt drafting review</li>
<li>In-class Garment Drafting Exercise</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Practice drafting the basic shirt and corresponding sleeve slopers.</li>
<li>Read pp.450-452 <strong>(pp.526-528)</strong> before Class Eight.</li>
</ul>