<p class="task__chapter">Due:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Bring your Modular Dress garment to class for critique.</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Full Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>24" hip curve ruler</li>
<li>14” x 24” Large L-Square ruler</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>The Modular Dress Critique</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Complete and submit the Modular Dress Process Journal via <strong>Blackboard &gt; Submissions by EoD.</strong></li>
<li style="text-decoration-line:underline">Complete the initial drafts for the Runway Recreation garments (shirt and trousers) and bring them to our next class meeting.</li>
</ul>