<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list" style="text-decoration-line: underline">Complete the Pre-Quarter Assignment</li>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Eraser</li>
<li>1 yard of pattern drafting paper</li>
<li>Large L-square ruler</li>
<li>Fashion french curve ruler (DO NOT USE ILLUSTRATION FRENCH CURVES)</li>
<li>Paper scissors </li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Half Scale and Full Scale Slopers</li>
<li>Begin drafting the Size 8 womenswear full scale slopers according to the textbook directions on pp.40-62 <strong>(pp.46-68)</strong></li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Print and assemble the Size 8 Womenswear Half Scale slopers (available on <strong>Blackboard &gt; Week One</strong>). Ensure they are printed to the correct size using the scale provided on the print out.</li>
<li>Read pp.53-62 <strong>(pp.59-68)</strong> before Class Two</li>
</ul>