<p class="task__chapter">Before Class:</p>
<ul>
</ul>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Medium weight muslin</li>
<li>Alphanumeric Pattern Paper</li>
<li>Needlepoint tracing wheel</li>
<li>Ticonderonga #2 Pencil</li>
<li>Pencil sharpener</li>
<li>Tape measure</li>
<li>Ball head quilter's pins</li>
<li>1" small silk pins</li>
<li>Fabric Scissors</li>
<li>Fine-tip markers in various colors</li>
<li>14” x 24” large L-Square ruler</li>
<li>Fashion French curve/Armsyce ruler</li>
<li>Fashion Hip Curve ruler</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Fabric Exploration/Draping with Shapes Review</li>
<li>Introduction to the Notched Collar Jacket assignment</li>
</ul>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line: underline">Complete and submit the Fabric Exploration or Draping with Shapes Process Journal via <strong>Blackboard &gt; Submissions</strong> by the end of day.</li>
<ul>
<li>All drapes should be photographed on the form, trued, and pin-proofed. These images will be compiled with photos of the patterns, construction process, final garment photos, and final technical flats to create one multi-page PDF file and submitted to Blackboard &gt; Submissions.</li>
</ul>
</ul>