<p class="task__chapter">Due:</p>
<ul>
<li class="task__list" style="text-decoration-line: underline;">Bring your Notched Collar Jacket to class for review.</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Sketching/Drawing supplies</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Project 3: Notched Collar Jacket Critique</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line: underline">Complete and submit the Notched Collar Jacket Process Journal via <strong>Blackboard &gt; Submissions</strong> by the end of day.</li>
<ul>
<li>All drapes should be photographed on the form, trued, and pin-proofed. These images will be compiled with photos of the patterns, construction process, final garment photos, and final technical flats to create one multi-page PDF file and submitted to Blackboard &gt; Submissions.</li>
</ul>
<li>Complete Technical Flats of the assigned runway look as well as a list of planned pattern pieces.</li>
</ul>