<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list" style="text-decoration-line: underline;">Complete the Pre-Quarter Assignment</li>
<li class="task__list" style="text-decoration-line: underline;">Read and watch the content provided on Blackboard &gt; PQA.</li>
	
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Medium weight muslin</li>
<li>3-5 yards black &frac14; twill tape</li>
<li>12 inches white &frac12; twill tape</li>
<li>14” x 24” large L-Square ruler</li>
<li>Tape measure</li>
<li>Ball head quilter's pins</li>
<li>1" small silk pins</li>
<li>Fabric Scissors</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li class="task__list">Applying HBLs and control lines to the dress form.</li>
<li class="task__list">Prepping muslin fabrics for draping assignments.</li>
<li class="task__list">Understanding the basics of draping.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul>
<li class="task__list">Sketch and design a dress with a waist line seam.</li>
<li class="task__list">Develop multiple sketches for review during the following class.</li>
</ul>
