<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Medium weight muslin</li>
<li>Alphanumeric Pattern Paper</li>
<li>Needlepoint tracing wheel</li>
<li>Ticonderonga #2 Pencil</li>
<li>Pencil sharpener</li>
<li>Tape measure</li>
<li>Ball head quilter's pins</li>
<li>1" small silk pins</li>
<li>Fabric Scissors</li>
<li>Fine-tip markers in various colors</li>
<li>14” x 24” large L-Square ruler</li>
<li>Fashion French curve/Armsyce ruler</li>
<li>Fashion Hip Curve ruler</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>True all pieces and draft the desired sleeve.</li>
<li>Draft any additional pattern pieces (i.e., facings, linings, interlinings, etc.)</li>
<li>Cut the drafted sleeve from muslin and hand baste into the pin-proofed armhole.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>True all pieces and draft the desired sleeve.</li>
<li>Transfer all drapes to pattern paper.</li>
<li>Add all neccessary notation to the garment patterns.</li>
<li>Be sure to include any additional drafts on pattern paper (i.e. facings, linings, interlinings, etc.)</li>
<li style="text-decoration-line: underline">Complete the Waist Seam Dress technical flats, pin-proof (with sleeve), final patterns (including any facings, linings, and interlinings), and bring all work to our next class meeting.</li>
</ul>