<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Matching pair of desired shoulder pads</li>
<li>Medium weight muslin</li>
<li>Alphanumeric Pattern Paper</li>
<li>Needlepoint tracing wheel</li>
<li>Ticonderonga #2 Pencil</li>
<li>Pencil sharpener</li>
<li>Tape measure</li>
<li>Ball head quilter's pins</li>
<li>1" small silk pins</li>
<li>Fabric Scissors</li>
<li>Fine-tip markers in various colors</li>
<li>14” x 24” large L-Square ruler</li>
<li>Fashion French curve/Armsyce ruler</li>
<li>Fashion Hip Curve ruler</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Draping the jacket pieces</li>
<li>Drafting or Draping the Collar</li>
<li>Deriving the facing and linings from the jacket slopers</li>
<li>Runway Look Recreation</li>
<ul>
<li>Students will be assigned one of the selected runway looks</li>
<li>Students will begin analysis and start fabric preparation for draping their assigned garment(s)</li>
</ul>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete the jacket drape (fully draped, pin-proofed and trued).</li>
<li>Begin transferring trued drapes to pattern paper.</li>
</ul>