<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Matching pair of desired shoulder pads</li>
<li>Desired fashion fabric(s)</li>
<li>Fusible weft interfacing</li>
<li>Medium weight muslin</li>
<li>Ticonderonga #2 Pencil</li>
<li>Pencil sharpener</li>
<li>Tape measure</li>
<li>Ball head quilter's pins</li>
<li>1" small silk pins</li>
<li>Fabric Scissors</li>
<li>Fine-tip markers in various colors</li>
<li>14” x 24” large L-Square ruler</li>
<li>Alphanumeric Pattern Paper</li>
<li>Needlepoint tracing wheel</li>
<li>Fashion French curve/Armsyce ruler</li>
<li>Fashion Hip Curve ruler</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Notched Collar Jacket Check-in</li>
<ul>
<li>Students will come to class with their final jacket patterns for review</li>
<li>Students will come to class with their jacket fabrics (muslin or fashion fabric)</li>
</ul>
<li>Complete construction of the jacket shell and begin construction of the facings and linings.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul>
<li class="task__list" style="text-decoration-line: underline">Complete the Notched Collar Jacket construction in preparation for critique during the next class meeting.</li>
</ul>