<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Matching pair of desired shoulder pads</li>
<li>Medium weight muslin</li>
<li>Ticonderonga #2 Pencil</li>
<li>Pencil sharpener</li>
<li>Tape measure</li>
<li>Ball head quilter's pins</li>
<li>1" small silk pins</li>
<li>Fabric Scissors</li>
<li>Fine-tip markers in various colors</li>
<li>14” x 24” large L-Square ruler</li>
<li>Alphanumeric Pattern Paper</li>
<li>Needlepoint tracing wheel</li>
<li>Fashion French curve/Armsyce ruler</li>
<li>Fashion Hip Curve ruler</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Completing the Jacket Patterns</li>
<li>How to derive facing and lining patterns from the jacket shell patterns.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul>
<li>Finalize all jacket patterns:</li>
<ul>
<li>Front shell</li>
<li>Back shell</li>
<li>Sleeve</li>
<li>Top Collar</li>
<li>Undercollar</li>
<li>Front Facing</li>
<li>Front Lining</li>
<li>Back Neck Facing</li>
<li>Back Lining</li>
</ul>
<li>Finalize acquisition of jacket fabrics:</li>
<ul>
<li>Muslin or fashion fabric for jacket shell and facing</li>
<li>Interfacing for facing pieces</li>
<li>Lining fabric (polyester or silk)</li>
</ul>
</ul>