<p class="task__chapter">Due:</p>
<ul class="task__list">
<li>Runway Recreation 60% Check-in (SOFT DEADLINE)</li>
<ul>
<li>Initial garment patterns fully drafted on paper</li>
<li>Initial garment pieces cut from muslin</li>
</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<li>Large Flat Head Screwdriver</li>
<li>Desired Juki Presser feet</li>
<li>Medium weight muslin</li>
<li>Ticonderonga #2 Pencil</li>
<li>Pencil sharpener</li>
<li>Tape measure</li>
<li>Ball head quilter's pins</li>
<li>1" small silk pins</li>
<li>Fabric Scissors</li>
<li>Fine-tip markers in various colors</li>
<li>14” x 24” large L-Square ruler</li>
<li>Alphanumeric Pattern Paper</li>
<li>Needlepoint tracing wheel</li>
<li>Fashion French curve/Armsyce ruler</li>
<li>Fashion Hip Curve ruler</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Begin construction of the muslin mock-up</li>
<ul>
<li>Mock-ups must have facings installed</li>
<li>Mock-ups do not require linings to be installed</li>
</ul>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Continue muslin mock-up construction</li>
</ul>
