<p class="task__chapter">Before Class:</p>
<ul>	
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>

</ul>
<li>Medium weight muslin</li>
<li>Ticonderonga #2 Pencil</li>
<li>Pencil sharpener</li>
<li>Tape measure</li>
<li>Ball head quilter's pins</li>
<li>1" small silk pins</li>
<li>Fabric Scissors</li>
<li>Fine-tip markers in various colors</li>
<li>14” x 24” large L-Square ruler</li>
<li>Fashion French curve/Armsyce ruler</li>
<li>Fashion Hip Curve ruler</li>

<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Finish draping the bodice front and back, pin proof, and photograph the bodice with the skirt</li>
<li>Truing the bodice and skirt</li>
<li>Truing and Balancing drapes</li>
<li>Drafting the sleeve</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Finalize which dress design will be draped for the Waist Seam Dress assignment.</li>
<li>Develop front and back flats of your final look utlizing Adobe Illustrator, Procreate, or drafting pens on clean paper.</li>
<li>Develop sketches and ideation of the the garments patten pieces.</li>
<li>Measure the assigned dressform and determine what muslin pieces need to be prepared.</li>
<li>Snip, rip, and block all neccessary muslin pieces.</li>
<li>Properly label each piece of prepared muslin with your name, piece name, grainline, and dressform ID.</li>
</ul>