<p class="task__chapter">Due:</p>
<ul class="task__list">
<li>Bring the following to class for review:</li>
<ul>
<li>Completed Runway Recreation garment</li>
<li>Runway Recreation front and back technical flats</li>
<li>Runway Recreation final patterns</li>
</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Students will present their work on the dress form for professor and peer review.</li>
<li>Students must evaluate the work of each of their classmates, evaluating the overall success and comparing/contrasting the work of students assigned the same look.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line: underline">Complete and submit Runway Recreation Process Journal via <strong>Blackboard &gt; Submissions</strong> by the end of day.</li>
<ul>
<li>All drapes should be photographed on the form, trued, and pin-proofed. These images will be compiled with photos of the patterns, construction process, final garment photos, and final technical flats to create one multi-page PDF file and submitted to Blackboard &gt; Submissions.</li>
</ul>
</ul>
