<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>1/2 inch Seam Allowance Pattern (4 pieces)</li>
<li>3/4 inch Seam Allowance Pattern (6 pieces)</li>
<li>5/16 inch Seam Allowance Pattern (2 pieces)</li>
</ul>
</ul>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Juki Industrial 1/16 Compensating Foot (optional)</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<li>Large Flat Head Screwdriver</li>

<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Medium weight muslin</li>
<li>Double fold 1/4 inch bias tape</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li class="task__list">Work on seam finish samples for Sample Book One.</li>

</ul>
<p class="task__chapter">After Class:</p>
<ul>
<li class="task__list" style="text-decoration-line: underline">Complete the following seam finish samples:</li>
<ul>
<li>Turned and Stitched</li>
<li>Flat felled</li>
<li>French seam</li>
<li>Bias-bound</li>
<li>Serged Seam finish</li>
<li>4-Cone Serged seam</li>
</ul>
</ul>