<p class="task__chapter">Due:</p>
<ul>
<li class="task__list">Sample Book Productivity</li>
<li class="task__list">Bring the following samples to class for review:</li>
<ul>
<li>Contoured/4-Point Dart</li>
<li>Neckline Facing</li>
<li>Bias Binding as Neckline Facing</li>
<li>Inward Corner</li>
<li>Outward Corner</li>
<li>Inward Curve</li>
<li>Outward Curve</li>
<li>2-piece collar</li>
<li>Convertible collar</li>
<li>Bound Buttonhole Sample</li>
<li>Machined Buttonhole Sample</li>
</ul>
<li class="task__list" style="text-decoration-line: underline;">Come to class with all the Convertible Collar Garment pieces cut and interfaced.</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<li>Large Flat Head Screwdriver</li>

<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Medium weight muslin</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li class="task__list">Garment Sub-assemblies</li>
<li class="task__list">Students will continue the assembly of the Convertible Collar Garment.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul>
<li class="task__list">Complete the garment shell sub-assembly (darts dewn, bodice sewn, and sleeves installed).</li>
<li class="task__list" style="text-decoration-line: underline;">Bring the garment shell sub-assembly to the following class meeting for review.</li>
</ul>