<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list" style="text-decoration-line: underline;">Complete the Pre-Quarter Assignment</li>
<li class="task__list" style="text-decoration-line: underline;">Watch the Hand-Sewing Tutorial on Blackboard</li>

<li class="task__list">Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>Hand Sewing Practice Pattern (1 piece)</li>
</ul>	
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>

<li>Hand Sewing Needles</li>
<li>All-purpose thread in a DARK color</li>
<li>Medium weight muslin</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Fabric Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li class="task__list">Welcome to the Sewing Studio</li>
<li class="task__list">Hand Sewing stitches: running stitch (basting) and hand overcast (finishing edges)</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul>
<li class="task__list">Complete Hand Sewing sample</li>
<li class="task__list" style="text-decoration-line: underline;">Assignment 1 – Sewing Machine Operation Test on Blackboard due by end of Week One.</li>
</ul>
