<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Fashion Fabric of choice</li>
<li>Drafting Supplies for pattern modification</li>
<li>Sewing Supplies</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Finalize construction of the Runway Shirt/Blouse and Trousers.</li>
<li>Complete Technical Flats of the final garments.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration: underline;">Bring your completed Runway Recreation to our next class meeting.</li>
</ul>