<p class="task__chapter">Due:</p>
<ul class="task__list">
<li>Runway Recreation 60% Checkpoint. Come to class with your Runway Recreation Shirt/Blouse mock-up complete. Seam finishes, hem finishes, and closures not required but highly encouraged.</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following materials to class:</li>
<ul>
<li>Muslin Fabric of choice</li>
<li>Drafting Supplies for pattern modification</li>
<li>Sewing Supplies</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Continue construction of the Runway Trousers muslin mock-up.</li>
<li>Update initial Technical Flats if need be.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Bring your completed Runway Trousers mock-up to our next class meeting for review.</li>
<li>Update initial patterns given any issues that arose during mock-up construction. Complete final Runway pattern drafting and notation. Patterns must be drafted face-up one way! No cutting on fold!) Bring final patterns to our next class meeting for review.</li>

</ul>