<p class="task__chapter">Due:</p>
<ul class="task__list">
	<li style="text-decoration-line: underline">Rub-Off Assignment Due by EoD.</li>
<li>Runway Recreation 30% Checkpoint. Come to class with your initial Runway Recreation garment patterns drafted on paper. (These initial drafts can be cut on fold for testing, but final patterns must be drafted face up one way!)</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following materials to class:</li>
<ul>
<li>Muslin Fabric of choice</li>
<li>Drafting Supplies for pattern modification</li>
<li>Sewing Supplies</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
	<li>Finalize Runway Shirt/Blouse mock-up.</li>
<li>Begin construction of the Runway Trousers muslin mock-up.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
	<li style="text-decoration-line: underline">Complete and submit the Rub Off assignment via <strong>Blackboard &gt; Submissions by EoD.</strong></li>
<li>Bring your completed Runway Shirt/Blouse mock-up to our next class meeting for review.</li>
</ul>