<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Half Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>Half Scale L-Square ruler (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Drafting the trouser sloper</li>
<li>Modifying the trousers into slacks</li>
<li>Pockets Review</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete drafting the trouser slopers with accompanying waistband in full scale.</li>
<li>Read pp.276-277, 281-283, 155-157 <strong>(pp.320-321, 325-327, 179-181)</strong> before Class Ten.</li>
</ul>
