<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>Sleeve Sample (1 piece)</li>
<li>Sleeve Sample Placket (2 pieces)</li>
<li>Sleeve Sample Cuff (2 pieces)</li>
</ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Half Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>Half Scale L-Square ruler (optional)</li>
<li>Medium weight muslin</li>
<li>Sewing Supplies - See syllabus for necessary sewing materials</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Separate button placket</li>
<li>Add-on/folded button placket</li>
<li>Hidden button placket</li>
<li>Sewing the sleeve placket sample.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Practice the basic shirt/blouse with sleeve and all 3 button placket drafting samples in half scale.</li>
<li style="text-decoration-line:underline">Carefully cut and sew the sleeve placket sewing sample in full scale.</li>
<li>Continue work on the Modular Dress project.</li>
	<ul>
	<li>Choose one draft exercise or design illustration from pp.245-247, 250-259, 263-264, 267-275, 285, 300 (hardcover textbook); <strong>pp.289-291, 294-303, 307-308, 311-319, 329, 344 (softcover textbook). </strong></li> 
	<li>Modify your Full-Scale front and back skirt slopers to suit your chosen draft/illustration.</li>
	<li>Transform your full-scale drafts in patterns by adding seam allowance (SA), hem allowance (HA), notches, tailor's tacks, and requested pattern notation.</li>
	<li>Carefully cut and sew your final bodice patterns in muslin or fashion fabric.</li>
	<li>Attach your skirt to the Bodice from Week Two.</li>
	<li>See the Modular Dress assignment brief for details.</li>
	</ul>
<li>Read pp.565-570, 573-577, 583-584, 587-589, 613, 375-383 <strong>(pp.659-664, 667-671, 677-678, 681-683, 707, 435-443)</strong> before Class Nine.</li>
<li>Watch the accompanying videos provided for Week Three in <strong>Blackboard &gt; Week Five.</strong></li>
</ul>