<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following materials to class:</li>
<ul>
<li>Rub-Off Garment for copying</li>
	<li>Masking Tape</li>
<li>Drafting Supplies for pattern modification</li>
<li>Sewing Supplies</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Contour Slopers</li>
	<li>Finalize patterns for the Rub-off assignment</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Complete the initial drafts for the Runway Recreation garments (shirt and trousers) and bring them to our next class meeting.</li>
</ul>