<p class="task__chapter">Due:</p>
<ul>
<li style="text-decoration: underline">Sample Book Two. Bring the following samples to class for review:</li>
<ul>
<li>Printed copy of Sample Book Two Checklist</li>
<li>Full scale sleeve placket and cuff sewing sample</li>
<li>Full scale J-fly sewing sample</li>
<li>Roll the following drafts into a single roll:</li>
<ul>
<li>(Minimum requirements for each draft listed on Blackboard as well as in the Checklists 	below)</li>
<ul>
<li>Trouser Front Sloper (Full Scale)</li>
<li>Trouser Back Sloper (Full Scale)</li>
<li>Trouser Waistband Sloper (Full Scale for full waistline)</li>
</ul>
<li>Write your name on a strip of muslin selvedge with permanent marker</li>
<li>Tie the single roll of papers with the strip of muslin selvedge </li>
</ul>
</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Full Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>24" hip curve ruler</li>
<li>14” x 24” Large L-Square ruler</li>
<li>Medium weight muslin</li>
<li>Fusible Weft Interfacing</li>
<li>Sewing Supplies - See syllabus for necessary sewing materials</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Types of pleats</li>
<li>Adding fullness to create pleating</li>
<li>Converting darts into pleats</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Finalize Modular Dress drafts and cut from muslin or final fabric</li>
<li>Continue drafting full Runway Recreation design (shirt and trousers)</li>
<li>Read pp.159-168 <strong>(pp.187-196)</strong> before Class Twelve.</li>
</ul>
