<p class="task__chapter">Before Class:</p>
<ul class="task__list">
<li>Bring the following materials to class:</li>
<ul>
<li>Half Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Skirt dart rotation and manipulation</li>
<li>Slash and Spread Sleeve modification</li>
<li>Drafting the Torso slopers</li>
<li>Drafting the Raglan sleeve slopers</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Practice drafting the Torso slopers and Raglan sleeve slopers in half scale.</li>
<li>Read pp.179-200, 333-336 <strong>(pp.211-232, 385-388)</strong> before Class Six.</li>
</ul>