<p class="task__chapter">Due:</p>
<ul>
<li class="task__list" style="text-decoration: underline;">Bring your Runway Blouse/Shirt and Trousers to class for critique</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Full Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>24" hip curve ruler</li>
<li>14” x 24” Large L-Square ruler</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Runway Recreation Critique</li>
<li>How to convert half-scale slopers to full scale.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration: underline;">Complete and submit the Runway Recreation project via <strong>Blackboard &gt; Submissions by EoD.</strong></li>
</ul>


