<p class="task__chapter">Due:</p>
<ul class="task__list">
<li>Runway Recreation 90% Checkpoint. Come to class with your Runway Recreation Trouser mock-up complete. Seam finishes, hem finishes, and closures not required but highly encouraged.</li>
<li>Bring updated final patterns for Runway Recreation construction. Patterns must be drafted face-up one way. No cutting on fold!</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Fashion Fabric of choice</li>
<li>Drafting Supplies for pattern modification</li>
<li>Sewing Supplies</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Begin construction on final garment construction in final fashion fabric.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Continue construction of Runway Recreation garments in final fabric.</li>
</ul>