<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Full Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>24" hip curve ruler</li>
<li>14” x 24” Large L-Square ruler</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Deriving Facings and Linings</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete work on the Modular Dress project.</li>
	<ul>
	<li>Modify your FULL-SCALE sleeve sloper to suit your chosen design.</li>
<li>Attach your sleeves to the Bodice from Week Two.</li>
<li>See the Modular Dress assignment brief for details.</li>
	</ul>
<li style="text-decoration-line:underline">Complete your Modular Dress construction and bring your final garment to our next class meeting.</li>
<li>Order final fabric for Runway Recreation Project</li>
</ul>